main {
  background-color: #343434;
  color: #FFF;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

header, .predictr {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.predictr .suggests {
  /*position: relative;*/
  position: absolute;
  /*visibility: hidden;*/
  background: #CCC;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  border-radius: 4px;
  padding: 1px;
}

.predictr .suggests:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 44%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #CCC transparent transparent transparent;
}

.predictr .suggests .item {
  color: #555;
  font-size: 13px;
  text-align: center;
  padding: 5px 10px;
  border-right: 1px solid #555;
}

.predictr .suggests .item:hover {
  background-color: rgba(0, 0, 0, .1);
  cursor: pointer
}

.predictr .suggests .item:last-of-type {
  border-right: none;
}

.predictr .phamtom {
  border: none;
  background-color: #222;
  color: #CCC;
  font-size: 14px;
  margin: 0;
  padding: 0;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  /*visibility: hidden;*/
  /*opacity: 0;*/
  width: auto;
}

.predictr .test-input {
  margin: 18px 0 5px 0;
  outline: none;
  font-size: 14px;
  background-color: #444;
  padding: 5px 10px;
  border: 1px solid #FFF;
  color: #FFF;
  width: 235px;
  border-radius: 2px;
}

.predictr small {
  color: #999;
  font-size: 12px;
  text-align: center;
}
